<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>LamaStyles</title>

		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'styles.min.css' %}">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</head>

	<body>

		<!-- NAVBAR -->
		<div class="navbar-fixed">
			<nav>
				<div class="nav-wrapper">
					<a href="{% url 'deepstyle:index' %}" class="brand-logo">LamaStyle</a>
					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
						<li><a href="{% url 'deepstyle:index' %}">Job List</a></li>
						<li><a href="{% url 'deepstyle:CreateJob' %}" class="waves-effect waves-light btn-large">Create Job</a></li>
					</ul>
					<ul class="side-nav" id="mobile-demo">
						<li><a href="sass.html">Job List</a></li>
						<li><a class="waves-effect waves-light btn-large">Create Job</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- NAVBAR END -->

		<div class="container">
			{% block body %}{% endblock %}
		</div>

		<script>
			$(document).ready(function(){
				$(".button-collapse").sideNav();
				$(".tooltipped").each(function() {
					$(this).tooltip({"delay": 10});
				});
			})
		</script>

	</body>
</html>
