{% extends 'deepstyle/base.html' %}

{% block body %}

	<h3>{{ job.id }} : {{ job.job_name }}</h3>

	<h4>Input Image</h4>
	<img src="{{ job.input_image.url }}" alt="Input Image" height="300px">
	<p><a href="{{ job.input_image.url }}" download>Download Input Image</a></p>

	<h4>Style Image</h4>
	<img src="{{ job.style_image.url }}" alt="Output Image" height="300px">
	<p><a href="{{ job.style_image.url }}" download>Download Style Image</a></p>

  <h4>Output Image</h4>
  {% if job.output_image %}
	<img src="{{ MEDIA_URL }}{{ job.output_image }}" alt="There is an error with your job. Please run the job again or ask your supervisor for help." height="300px">
	<p><a href="{{ MEDIA_URL }}{{ job.output_image }}" download>Download Output Image</a></p>
  {% else %}
  <p>The image is still being processed</p>
  {% endif %}

	<hr>

	<ul>
	  <li>Output Width: {{ job.output_width }}</li>
	  <li>Iterations: {{ job.iterations }}</li>
	  <li>Content Weight: {{ job.content_weight }}</li>
	  <li>Content Weight Blend: {{ job.content_weight_blend }}</li>
	  <li>Style Weight: {{ job.style_weight }}</li>
	  <li>Style Scale: {{ job.style_scale }}</li>
	  <li>Learning Rate: {{ job.learning_rate }}</li>
	  <li>Style Layer Weight exp: {{ job.style_layer_weight_exp }}</li>
	  <li>Preserve Color: {{ job.preserve_color }}</li>
	  <li>Pooling: {{ job.pooling }}</li>
    <li>Job Status: {{ job.job_status }}</li>
	</ul>

  
	<a href="{% url 'deepstyle:EditJob' job.id %}">Edit job name and Description</a>


{% endblock %}
