{% extends 'deepstyle/base.html' %}

{% block body %}

	<!-- Printing a list of all the jobs -->

	<div class="row">
	<h3>Job List</h3>
	<p>*** Refresh the page to get updates on job status</p>

	<table class="highlight responsible-table z-depth-1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Job Name</th>
        <th>Input Image</th>
				<th>Output Image</th>
        <th>Output Width</th>
				<th>Style Weight</th>
				<th>Content Weight</th>
				<th>Job Status</th>
				<th>Edit</th>
			</tr>
		</thead>

		<tbody>

			{% if all_jobs %}

				{% load some_tags %}

				{% for job in all_jobs|dictsort:"id" %}
				<tr>
					<td>{{ job.id }}</td>
					<td><a href="{% url 'deepstyle:detail' job.id %}">{{ job.job_name }}</a></td>
					<td>{{ job.input_image.path|remove:"/app/media/" }}</td>
					<td>{{ job.output_image.path|remove:"/app/media/" }}</td>
          <td>{{ job.output_width }}</td>
					<td>{{ job.style_weight }}</td>
					<td>{{ job.content_weight }}</td>
					<td>{{ job.get_job_status_display }}</td>
					<td><a href="{% url 'deepstyle:EditJob' job.id %}"><i class="small material-icons tooltipped" data-position="bottom" data-delay="10" data-tooltip="I am a tooltip">edit</i></a></td>
				</tr>
				{% endfor %}

			{% else %}

				<tr>
					<td>No Jobs</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>

			{% endif %}

		</tbody>
	</table>
	</div>

{% endblock %}
