{% extends 'deepstyle/base.html' %}

{% block body %}

	<!-- Printing a list of all the jobs -->

	<div class="row">
	<h3>Job List</h3>
	{% if all_jobs %}

		<table class="highlight responsible-table z-depth-1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Job Name</th>
					<th>Input Image</th>
					<th>Style Image</th>
					<th>Style Weight</th>
					<th>Content Weight</th>
					<th>Job Status</th>
					<th>Edit</th>
				</tr>
			</thead>

			<tbody>

				{% for job in all_jobs %}
				<tr>
					<td>{{ job.id }}</td>
					<td><a href="{% url 'deepstyle:detail' job.id %}">{{ job.job_name }}</a></td>
					<td>{{ job.input_image.path }}</td>
					<td>{{ job.style_image.url }}</td>
					<td>{{ job.style_weight }}</td>
					<td>{{ job.content_weight }}</td>
					<td>{{ job.get_job_status_display }}</td>
					<td><a href="{% url 'deepstyle:EditJob' job.id %}"><i class="small material-icons tooltipped" data-position="bottom" data-delay="10" data-tooltip="I am a tooltip">edit</i></a></td>
				</tr>
				{% endfor %}

			</tbody>
		</table>

	<!-- Printing a warning when no jobs exist yet -->
	{% else %}
  <table class="highlight responsible-table z-depth-1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Job Name</th>
        <th>Input Image</th>
        <th>Style Image</th>
        <th>Style Weight</th>
        <th>Content Weight</th>
        <th>Job Status</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>No Jobs</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

	{% endif %}
	</div>

{% endblock %}
